
.search-overlay {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40vh;
    justify-content: center;
}

.placeholder {
    position: relative;
    top: 10vh;
    width: 25vw;
    height: 3vh;
    background: #4361EE;
    opacity: 0.5;
    border-radius: 100px;
    padding: 10px;
    color: #FFFFFF;
}

.infinite-scroll {
    overflow: none;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 10vh;
    width: 100vw;
}

.search-movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    position: relative;
    top: 5vh;
    overflow-x: hidden;
    overflow-y: visible;
}
.search-input {
    position: relative;
    display: flex;
    justify-content: center;
    top: -9vh;
    width: 100vw;
}


