.poster-contener {
    border-radius: 20px;
    width: 140px;
    height: 200px;
    margin: 10px;
}
.poster{
    border-radius: 20px;
    width: 140px;
    height: 180px;
    object-fit:cover;
    object-position: 50% 50%;
    &-fav {
        color: #F72585;
        position: relative;
        bottom: -7px;
        left: 7px;
    }
}

.overlay {
    position: relative;  
    border-radius: 50px;
    background: #fffefe;
    background: rgba(255, 255, 255, 0.7);
    color: #f1f1f1; 
    width: 30px;
    height: 30px;
    bottom: 40px;
    left: 90px;
}